language: objective-c

before_install:
  - wget "https://raw.githubusercontent.com/enckse/travis-mono-scripts/master/mono.sh"
  - sudo chmod a+x mono.sh
  - ./mono.sh
  - wget "https://raw.githubusercontent.com/enckse/travis-mono-scripts/master/gendarme.sh"
  - sudo chmod a+x gendarme.sh
  - ./gendarme.sh
  - wget "https://raw.githubusercontent.com/enckse/travis-mono-scripts/master/nunit-wrapper.sh"
  - sudo chmod a+x nunit-wrapper.sh

script: make ci nunit=./nunit-wrapper
